/* & Global Style */

*,
before,
after {
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  color: #f9f6f6 !important;
  overflow: hidden;
}

/* & Style Section Side Nav */

.side-nav-menu {
  z-index: 999;
}
.nav-tab {
  background-color: #0d0d0d;
}

.logo {
  width: 50px;
}

i,
li {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

/* & Style Section Home */

.meal-layer {
  width: 100%;
  height: 100%;
  background-color: #f9f6f6ca;
  top: 100%;
  transition: 0.5s;
  color: black;
}

.meal:hover .meal-layer {
  top: 0;
}

.alert {
  width: fit-content;
}

/* & Style Section Loading */
.loading-screen {
  z-index: 999;
  display: flex;
}

.inner-loading-screen {
  position: absolute;
  z-index: 9;
  background-color: #0d0d0d;
  display: flex;
}
